body {
    text-align: center;
}
h3 {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.sort_answers {
    display: none;
}
#display_answers {
    margin: 20px;
    border-radius: 10px;
    border-style: dotted;
    border-width: 2px;
    background-color: greenyellow;
    font-weight: bold;
    font-size: large;
}
#display_without_commas {
    margin: 20px;
    border-radius: 10px;
    border-style: dotted;
    border-width: 2px;
    background-color: rgb(255, 47, 47);
    font-weight: bold;
    font-size: large;
}